<!doctype html>
<html lang="en" ng-app="application">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Apps</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./assets/js/foundation.js"></script>
    <script src="./assets/js/templates.js"></script>
    <script src="./assets/js/routes.js"></script>
    <script src="./assets/js/app.js"></script>
</head>

<body>
    <div class="grid-block vertical" ng-controller="SocialAppCtrl">

        <div class="header">
            <div class="align-justify grid-block">
                <div class="grid-block align-left social-icon">
                    <ul>
                        <li class="dark" ng-repeat="item in socialMenu">
                            <a href=""><i class="material-icons">{{item.nameIcon}}</i></a>
                        </li>
                    </ul>
                </div>
                <div class="grid-block align-right callbackLinks">
                    <ul>
                        <li ng-repeat="link in callback">
                            <a href="{{link.link}}"><span>{{link.name}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="full-width logo">
                <h1>readwrite</h1></div>
            <nav class="grid-block nav">
               <div class="toggle-btn">|||</div>
                <div class="full-width main-nav-list ">
                    <ul>
                        <li ng-repeat="item in navList"><a ui-sref="{{item.link}}"><span>{{item.item}}</span></a></li>
                    </ul>
                </div>
                <div class="search-btn">O</div>
            </nav>
        </div>
    </div>

    <div ui-view class="grid-content">

    </div>

    </div>
</body>

</html>
