@import "settings";
@import "foundation";
$background:#F4F6F8;
ul,li{
    margin-left:0;
    padding: 0;
    display: inline;
}
.header{
     margin:20px;
     li{
             display: inline;
             a{
                 color:gray;
             }
         }
     .callbackLinks{
         font-size: 15px;

     }
    .logo{
        h1{
            margin-top: 30px;
            padding-left: 0;
            font-size: 65px;
            text-transform:lowercase;
            font-weight: bold;
            color:rgba(203, 55, 51, 1);
            height: auto;
            overflow:hidden;
        }
    }
    .nav{
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 20px;
        li{
            padding: 0 20px;
            padding-left: 0;
        }
    }

}
.full-width{
    margin: 0 auto;
    width: 940px
}
.toggle-btn{
    padding:2.5px 0;
    margin-right: 1px;
}
