@import "settings";
@import "foundation";
$background:#F4F6F8;
.header-pad{
    padding: 0;
    overflow:hidden;

}
.top-header{
     overflow:hidden;
     padding: 0;
     margin-top: 10px;
    
     li{
             display: inline;
             a{
                 color:gray;
             }
         }
     .social-icon{
         float: left;
         margin-left: 20px;
         color:antiquewhite;
     }
     .callbackLinks{
         float:right;
         height: 30px;
         margin-right: 20px;
         font-size: 15px;
     }
    .logo{
        display: block;
        height:auto;
        width: 1000px; 
        margin-top: 30px;
        font-size: 65px;
        text-transform:lowercase;
        font-weight: 800;
        color:rgba(203, 55, 51, 1);
        vertical-align: middle;
    }
}